<%= form_with(model: comment) do |form| %>
  <%= render "shared/error_messages", resource: event %>

  <div class="mt-2">
    <%= f.submit t('.submit'), class: 'btn btn-outline-primary' %>
  </div>
<% end %>
