<footer class="position-relative bottom-0 mt-3 py-3 bg-light border-top">
  <div class="container">
    <span class="text-muted">&copy; <%= t 'app.company' %> 2021 - 2022</span>
  </div>
</footer>
