<div class="event-photo my-2">
  <% if current_user_can_edit?(photo) %>
    <%= link_to(
      fa_icon('trash'), event_photo_path(photo.event, photo),
      method: :delete, data: {confirm: t('.delete_confirm')}
    ) %>
  <% end %>

  <%= link_to(
    image_tag(photo.photo.variant(resize_to_limit: [50, 50])),
    photo.photo
    )%>

  <%= t('.uploaded_by') %>
  <%= render partial: 'users/user', object: photo.user %>
</div>
